body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0;
}

#container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav {
  text-align: left;
  margin: 1.5rem;
}

#nav > a {
  color: darkgreen;
  text-decoration: none;
  font-size: 1.3rem;
}

#nav a:hover {
  color: #65d46e;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background: #fff;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card > a {
  text-decoration: none;
}

.card > a:hover {
  opacity: 0.5;
}

.spotify {
  display: inline-block;
  background-color: #65d46e;
  padding: 10px;
  border-radius: 30px;
}
.card .title {
  color: darkgreen;
  font-size: 18px;
  margin-bottom: 30px;
}

.card .artist {
  color: black;
  background-color: #eee;
  padding: 20px 0;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
}

/* details page styles */
.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.albumTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.albumType {
  font-size: 18px;
  font-style: italic;
  color: gray;
  margin-bottom: 20px;
}

.albumArtists {
  text-align: center;
  margin-bottom: 20px;
}

.albumArtists h3,
.albumTracks h3 {
  margin-bottom: 20px;
}

.albumArtists ul,
.albumTracks ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.albumArtists ul > li {
  color: darkgreen;
  font-size: 2rem;
  font-weight: 600;
}

.albumContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.albumTracks {
  flex: 1;
  padding-right: 50px;
  padding-left: 50px;
}

.album img {
  flex: 1;
  max-width: 100%;
  border-radius: 5px;
}

.trackDuration {
  color: grey;
}

.loader {
  opacity: 0.7;
  background-color: rgb(83, 76, 90);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  position: relative;
}
.loader:before {
  content: "Loading...";
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .albumContent {
    justify-content: start;
    flex-direction: column;
  }
  .albumTracks {
    padding-left: 0;
  }
}

@media screen and (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
